<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>DcevmAgent test</display-name>
    <description>DcevmAgent</description>

    <!-- Basic Spring configuration. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Open Session In View design pattern. Persistence context is open for whole request (lazy loading i view layer) -->
    <filter>
        <filter-name>JpaFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JpaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>test.url</servlet-name>
        <jsp-file>/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>test.url</servlet-name>
        <url-pattern>/test.url</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentWeb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AgentWeb</servlet-name>
        <url-pattern>/mvc/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session timeout. For ZK Ajax check zk.xml as well -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <!-- Database resources -->
    <resource-ref>
        <description>Database connection</description>
        <res-ref-name>jdbc/ToDoDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence/TestPU</persistence-unit-ref-name>
        <persistence-unit-name>TestPU</persistence-unit-name>
    </persistence-unit-ref>
</web-app>
